{% load static %}
<div class="container marketing mt-5 ">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <!-- Dog featurette-->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Symbol of Style and Comfort</h2>
        <p class="lead">Welcome to our online fashion haven, where style meets substance! Dive into a world of sartorial splendor with our carefully curated collection of trendy and timeless pieces. Our clothing is more than just fabric; it's an expression of your individuality, a canvas for your personal style journey. From casual chic to red carpet-ready, we offer a diverse range that caters to every fashionista's desires. Immerse yourself in the luxurious textures, vibrant hues, and impeccable craftsmanship that define our brand</p>
      </div>
      <div class="col-md-5">
        <video class="featurette-video mx-auto" width="400" height="400" autoplay loop muted style="margin-top: -50px;">
          <source src="{% static 'core/images/men/men_feature.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Cat featurette-->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Elegance Unleashed</h2>
        <p class="lead">Discover the essence of style with our exclusive collection. Our clothing is designed for individuals who appreciate fashion as a form of self-expression. Embrace the confidence that comes with each carefully crafted piece.

          Our garments are a symbol of sophistication and comfort. Just like your fashion sense, our clothing stands out in a crowd.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <video class="featurette-video mx-auto" width="400" height="400" autoplay loop muted style="margin-top: -80px;">
          <source src="{% static 'core/images/women/women_feature.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Bird featurette-->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Embrace Your Style</h2>
        <p class="lead">Discover the diversity of styles that express your individuality. Our clothing is crafted to suit various tastes and preferences, tailored for comfort and adapted to your lifestyle.

          Explore the versatile designs and comfortable fabrics that cover your fashion needs. From casual outings to city exploration, find the perfect pieces that resonate with your unique personality.
          
          Just as in different habitats, our clothing adapts to your unique environments and occasions. Whether you prefer timeless classics or trendy ensembles, our collection lets you lay the foundation for your distinctive wardrobe.
        </p>
      </div>
      <div class="col-md-5">
        <video class="featurette-video mx-auto" width="400" height="400" autoplay loop muted style="margin-top: -30px;">
          <source src="{% static 'core/images/kids/kids_feature.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>
